.directory {
    .img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // width: 100%;
        height: 90vh;
        padding: 25% 0% 0% 25%;
 
     a {
         background-color: #fff;
     }
}
}

